.root {
    -fx-background-color: #f5f5f5;
}

.lable-title{
    -fx-font-family:Arial;
    -fx-font-size:28;
    -fx-background-color: white;
    -fx-text-fill: blue;
}
.toggle-button{
    -fx-border-width:2px;
    -fx-border-color:white;
    -fx-background-radius: 6px;
    -fx-background-color:linear-gradient(to top, blue, white) ;
    -fx-text-fill: green;

}

.toggle-button:hover {
    -fx-background-color: red;
}

.label{
    -fx-font-family:Arial;
    -fx-font-size:14;
    -fx-font-weight: bold;
}
.radio-button {
    -fx-color:green;
    -fx-background-color:red;
}
.slider{
    -fx-background-color:blue;
}
.slider .thumb {
    -fx-background-color: green;
}


.progress-indicator .indicator {
    -fx-background-color:red;
}