.root {
    -fx-background-color: #f5f5f5;
}

.lable-title{
    -fx-font-family:Tahoma;
    -fx-font-size:28;
    -fx-background-color: blue;
    -fx-text-fill: white;
}
.toggle-button{
    -fx-background-radius: 6px;
    -fx-background-color: blue;
    -fx-text-fill: white;

}
.toggle-button:selected {
    -fx-background-color: red;
}

.label{
    -fx-font-family:Tahoma;
    -fx-font-size:14;
}
.radio-button {
    -fx-color:green;
    -fx-background-color:red;

}

