.button{
    -fx-border-color: red;
    -fx-border-radius:6px;
    -fx-fill-radius:6px;
}
.table{

}
.label{
    -fx-text-fill: blue;
}
.radiobutton{
    -fx-text-fill: gray;
}
.table-view{
    -fx-size:30px;
    -fx-background-radius: 15px;
}
.image-view{
    -fx-border-color:#ddb92a;
}
.check-box:selected{
    -fx-border-color:red;
}
.check-box{
    -fx-border-color:cyan;
}
